<!DOCTYPE html>
<html>
  <head>
    <title>Axios Examples</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Axios Examples</h1>
    <ul>
      <li>
        <a href="simple">Simple</a>
      </li>
    </ul>
  </body>
</html>
